<div id="subnav" class="container-fluid row align-items-center">
    <div class="container">
      <nav class="nav">
        <a class="nav-link" href="/admin/home">HOME</a>
        <a class="nav-link" href="/admin/pending">PENDING</a>
        <a class="nav-link" href="/admin/certified">CERTIFIED</a>
        <a class="nav-link active" href="/admin/admins">ADMINISTRATORS</a>
      </nav>
    </div>
</div>

<div class="container">
  <h1 class="text-center">Administrator Accounts Management</h1>
  <h5 class="text-center bottom-pad-20">CURRENT ADMINISTRATORS</h5>
  <table id="currentAdmin" class="table bottom-pad-20">
    <thead>
      <th>Email</th>
    </thead>
    <tbody></tbody>
  </table>
  <h2 class="">Add New Administrator</h2>
  <h5 class="bottom-pad-20">LOGIN INFORMATION</h5>

  <form id="newAdminForm" novalidate>
    <div class="row">
      <div class="col-md-5 mb-3">
        <label>Email</label>
        <input id="admin-email" type="text" name="username" class="form-control" placeholder="email" required>
      </div>
      <div class="col-md-5 mb-3">
        <label>Password</label>
        <input id="admin-password" type="password" name="password" class="form-control" placeholder="password" required>
      </div>
    </div>
    <br>
    <button id="submitNewAdmin" class="btn" type="submit">ADD ADMINISTRATOR</button>
  </form>
</div>
