<div id="subnav-container" class="container-fluid">
  <nav id="subnav" class="navbar-inverse">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/admin/home">Home</a></li>
          <li><a href="/admin/pending">Pending</a></li>
          <li><a href="/admin/certified">Certified</a></li>
          <li class="active"><a href="/admin/admins">Administrators</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<h1 class="container">Current Admin</h1>
<div class="container">
  <table id="currentAdmin" class="table table-inverse">
    <thead>
      <th>email</th>
    </thead>
    <tbody>
      <!-- list view with edit/delete buttons or modal on click-->
    </tbody>
  </table>
</div>

<h1 class="container">Add New Admin</h1>
<form class="container" id="newAdminForm" novalidate>
  <h3>Login Information</h3>
  <div class="row">
    <div class="col-md-5 mb-3">
      <label>Email</label>
      <input id="admin-email" type="text" name="username" class="form-control" placeholder="email" required>
    </div>
    <div class="col-md-5 mb-3">
      <label>Password</label>
      <input id="admin-password" type="password" name="password" class="form-control" placeholder="password" required>
    </div>
  </div>
  <br>
  <button id="submitNewAdmin" class="btn btn-primary" type="submit">Add Admin</button>
</form>
