<div id="subnav-container" class="container-fluid">
  <nav id="subnav" class="navbar-inverse">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/admin/home">Home</a></li>
          <li><a href="/admin/pending">Pending</a></li>
          <li><a href="/admin/certified">Certified</a></li>
          <li><a href="/admin/admins">Administrators</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<!-- MAKE H1 DYNAMIC -->
<!-- <h1 class="container">[Name of Coach]</h1> -->

<div class="container">

  <div class="text-center">
    <h1 class="container admin-coach-header-first_name"></h1>
    <p>Type in the field to change or update information. Click the 'Update' button at the bottom to make sure your changes are saved.</p>
    <h3 class="">USA Climbing Coach Certification Status:</h3>
    <div id="admin-coach-dash-is_certified"></div>
    <h4></h4>
  </div>

  <br>

  <div id="certification_status"></div>

  <br>

  <form class="container" id="admin-coach-dash-form" novalidate>
    <h3>General Information</h3>
    <div class="row">
      <div class="col-md-5 mb-3">
        <label for="validationCustom01">First name</label>
        <input id="admin-coach-dash-firstname" type="text" name="first_name" class="form-control" placeholder="First name" required>
      </div>
      <div class="col-md-5 mb-3">
        <label for="validationCustom02">Last name</label>
        <input id="admin-coach-dash-lastname" type="text" name="last_name" class="form-control" placeholder="Last name" required>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 mb-3">
        <label for="validationCustom03">Team name</label>
        <input id="admin-coach-dash-teamname" type="text" name="team_name" class="form-control" placeholder="Team Name" required>
      </div>
      <div class="col-md-5 mb-3">
        <label for="validationCustom03">USAC Membership Number</label>
        <input id="admin-coach-dash-usacmem" type="text" name="usac_membership" class="form-control" placeholder="USAC Membership Number" required>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 mb-3">
        <label for="validationCustom03">Background Check Expiration Date</label>
        <input id="admin-coach-dash-bgExpDate" type="text" name="bg_exp_date" class="form-control" placeholder="mm/dd/yyyy" required>
      </div>
    </div>
    <h3>Required Document Uploads</h3>
    <div class="row">
      <div class="col-md-5 mb-3, form-group">
        <label for="exampleInputFile">CPR Expiration Date</label>
        <input id="admin-coach-dash-cprExpDate" type="text" name="cpr_exp_date" class="form-control" placeholder="mm/dd/yyyy">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 mb-3, form-group">
        <label for="exampleInputFile">First Aid Expiration Date</label>
        <input id="admin-coach-dash-faExpDate" type="text" name="fa_exp_date" class="form-control" placeholder="mm/dd/yyyy">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 mb-3, form-group">
        <label for="exampleInputFile">Safe Sport Expiration Date</label>
        <input id="admin-coach-dash-ssExpDate" type="text" name="ss_exp_date" class="form-control" placeholder="mm/dd/yyyy">
      </div>
    </div>
    <br>
    <button id="admin-coach-updateUser" class="btn btn-primary" type="submit">Update</button>
    <button id="admin-coach-deleteUser" class="btn btn-primary" type="submit">Delete this Coach</button>
  </form>
</div>

<br>

<div class="container adminCoachCards">

  <!-- this is where the cards go -->
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img id="cprImage" src="" alt="CPR Image">
        <div class="caption">
          <h3>CPR Certification</h3>
          <p><a href="#" class="btn btn-primary" role="button">View</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img id="firstAidImage" src="" alt="First Aid Image">
        <div class="caption">
          <h3>First Aid Certification</h3>
          <p><a href="#" class="btn btn-primary" role="button">View</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img id="safeSportImage" src="" alt="Safe Sport Image">
        <div class="caption">
          <h3>Safe Sport Certification</h3>
          <p><a href="#" class="btn btn-primary" role="button">View</a></p>
        </div>
      </div>
    </div>
  </div>
