<div id="subnav" class="container-fluid row align-items-center">
    <div class="container">
      <nav class="nav">
        <a class="nav-link" href="/admin/home">HOME</a>
        <a class="nav-link" href="/admin/pending">PENDING</a>
        <a class="nav-link" href="/admin/certified">CERTIFIED</a>
        <a class="nav-link" href="/admin/admins">ADMINISTRATORS</a>
      </nav>
    </div>
</div>

<div class="container">

  <div class="text-center bottom-pad-20">
    <h1 class="container admin-coach-header-first_name"></h1>
    <h3 class="">USA Climbing Coach Certification Status:</h3>
    <div id="admin-coach-dash-is_certified"></div>
    <div class="bottom-pad-10" id="certification_status"></div>
    <p>Type in the field to change or update information. </br>Click the 'Update' button at the bottom to make sure your changes are saved.</p>
  </div>

  <form id="admin-coach-dash-form" class="bottom-pad-20" novalidate>
    <h3>General Information</h3>
    <div class="row">
      <div class="col-md-5 mb-3">
        <label for="validationCustom01">First Name</label>
        <input id="admin-coach-dash-firstname" type="text" name="first_name" class="form-control" placeholder="First name" required>
      </div>
      <div class="col-md-5 mb-3">
        <label for="validationCustom02">Last Name</label>
        <input id="admin-coach-dash-lastname" type="text" name="last_name" class="form-control" placeholder="Last name" required>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 mb-3">
        <label for="validationCustom03">Team Name</label>
        <input id="admin-coach-dash-teamname" type="text" name="team_name" class="form-control" placeholder="Team Name" required>
      </div>
      <div class="col-md-5 mb-3">
        <label for="validationCustom03">USAC Membership Number</label>
        <input id="admin-coach-dash-usacmem" type="text" name="usac_membership" class="form-control" placeholder="USAC Membership Number" required>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 mb-3">
        <label for="validationCustom03">Background Check Expiration Date</label>
        <input id="admin-coach-dash-bgExpDate" type="text" name="bg_exp_date" class="form-control" placeholder="mm/dd/yyyy" required>
      </div>
    </div>

    <h3 class="add-top-margin bottom-pad-20">Required Document Uploads</h3>

    <div class="row">
      <div class="col-md-5 mb-3, form-group">
        <label for="exampleInputFile">CPR Expiration Date</label>
        <input id="admin-coach-dash-cprExpDate" type="text" name="cpr_exp_date" class="form-control" placeholder="mm/dd/yyyy">
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 mb-3, form-group">
        <label for="exampleInputFile">First Aid Expiration Date</label>
        <input id="admin-coach-dash-faExpDate" type="text" name="fa_exp_date" class="form-control" placeholder="mm/dd/yyyy">
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 mb-3, form-group">
        <label for="exampleInputFile">Safe Sport Expiration Date</label>
        <input id="admin-coach-dash-ssExpDate" type="text" name="ss_exp_date" class="form-control" placeholder="mm/dd/yyyy">
      </div>
    </div>
    <button id="admin-coach-updateUser" class="btn" type="submit">UPDATE</button>
    <button id="admin-coach-deleteUser" class="btn" type="submit">Delete this Coach</button>
  </form>
</div>

<div class="container adminCoachCards add-top-margin">

  <!-- this is where the cards go -->
  <div class="row">

    <!-- // CARD ONE // -->
    <div class="col-sm-6 col-md-4">
      <div class="card" style="width: 20rem;">
        <img id="cprImage" class="card-img-top" src="/img/place-holder-file.jpg" alt="CPR Image">
        <div class="card-body">
          <h4 class="card-title">CPR Certification</h4>
          <button id='modalViewBtnCpr' class="btn btn-secondary" data-target="#cprModal" data-toggle="modal">View</button>
        </div>
      </div>
    </div>

    <!-- // CARD TWO // -->
    <div class="col-sm-6 col-md-4">
      <div class="card" style="width: 20rem;">
        <img id="firstAidImage" class="card-img-top" src="/img/place-holder-file.jpg" alt="First Aid Image">
        <div class="card-body">
          <h4 class="card-title">First Aid Certification</h4>
          <button id='modalViewBtnFirstAid' class="btn btn-secondary" data-target="#faModal" data-toggle="modal">View</button>
        </div>
      </div>
    </div>

    <!-- // CARD THREE // -->

    <div class="col-sm-6 col-md-4">
      <div class="card" style="width: 20rem;">
        <img id="safeSportImage" class="card-img-top" src="/img/place-holder-file.jpg" alt="Safe Sport Image">
        <div class="card-body">
          <h4 class="card-title">Safe Sport Certification</h4>
          <button id='modalViewBtnSafeSort' class="btn btn-secondary" data-target="#ssModal" data-toggle="modal">View</button>
        </div>
      </div>
    </div>

    <!-- end of row -->
  </div>
</div>


<!-- MODALS FOR THE CARDS -->

<!-- THIS IS THE CPR MODAL -->

<div class="modal fade" id="cprModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="modal-title">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" id="modal-cprImage" src="" alt="CPR Image">
      </div>
    </div>
  </div>
</div>

<!-- THIS IS THE FIRST AID MODAL -->

<div class="modal fade" id="faModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="modal-title">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" id="modal-firstAidImage" src="" alt="First Aid Image">
      </div>
    </div>
  </div>
</div>

<!-- THIS IS THE SAFE SPORT MODAL -->

<div class="modal fade" id="ssModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="modal-title">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" id="modal-safeSportImage" src="" alt="Safe Sport Image">
      </div>
    </div>
  </div>
</div>



<!-- MODALS FOR THE CARDS -->
