<div id="subnav" class="container-fluid row align-items-center">
    <div class="container">
      <nav class="nav">
        <a class="nav-link active" href="/admin/home">HOME</a>
        <a class="nav-link" href="/admin/pending">PENDING</a>
        <a class="nav-link" href="/admin/certified">CERTIFIED</a>
        <a class="nav-link" href="/admin/admins">ADMINISTRATORS</a>
      </nav>
    </div>
</div>

<div class="container">
  <h1 class="text-center">Administrator Dashboard</h1>
  <h5 class="text-center bottom-pad-20">ALL COACHES SIGNED UP FOR REGISTRATION</h5>
  <table id="pendingList" class="table">
    <thead>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Team Name</th>
      <th>CPR</th>
      <th>First Aid</th>
      <th>Safe Sport</th>
      <th>Background Check</th>
      <th>USAC Membership</th>
      <th>Certified</th>
    </thead>
    <tbody></tbody>
  </table>
</div>
