body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mainnav {
  height: 120px;
}

#subnav {
  margin-top: 120px;
  margin-bottom: 0px;
  background-color: #333;
}

#login-form {
  width: auto;
  float: right;
}
