<div class="container add-top-margin">
  <h1 class="text-center bottom-pad-20">Welcome <span>to your Dashboard</span></h1>
  <h5 class="text-center">USA CLIMBING COACH CERTIFICATION STATUS:</h5>
  <div class="row bottom-pad-20">
    <div id="coach-dash-is_certified" class="col align-self-center text-center"></div>
  </div>

  <form id="coach-dash-form" novalidate>
    <h3>General Information</h3>
    <div class="row">
      <div class="col-md-5 mb-3">
        <label for="validationCustom01">First name</label>
        <input id="coach-dash-firstname" type="text" name="first_name" class="form-control" placeholder="First name" required>
      </div>
      <div class="col-md-5 mb-3 bottom-pad-20">
        <label for="validationCustom02">Last name</label>
        <input id="coach-dash-lastname" type="text" name="last_name" class="form-control" placeholder="Last name" required>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 mb-3">
        <label for="validationCustom03">Team name</label>
        <input id="coach-dash-teamname" type="text" name="team_name" class="form-control" placeholder="Team Name" required>
      </div>
      <div class="col-md-5 mb-3 bottom-pad-20">
        <label for="validationCustom03">USAC Membership Number</label>
        <input id="coach-dash-usacmem" type="number" name="usac_membership" class="form-control" placeholder="USAC Membership Number" required>
      </div>
    </div>
    <h3 class="add-top-margin bottom-pad-20">Required Document Uploads</h3>

    <div class="row bottom-pad-20">
      <div class="col-md-5 mb-3, form-group">
        <div>
          <label for="CprFileButton">CPR Certification and Expiration Date</label>
        </div>
        <button id="CprFileButton" class="btn">CPR File</button>
        <small id="fileHelp" class="form-text text-muted bottom-pad-10">Please upload the proper documentation and input the expiration date of your certification.</small>
        <input id="coach-dash-cprExpDate" type="date" name="cpr_exp_date" class="form-control" placeholder="mm/dd/yyyy">
      </div>
    </div>

    <div class="row bottom-pad-20">
      <div class="col-md-5 mb-3, form-group">
        <div class="">
          <label for="FaFileButton">First Aid Certification and Expiration Date</label>
        </div>
        <button id="FaFileButton" class="btn">First Aid File</button>
        <small id="fileHelp" class="form-text text-muted bottom-pad-10">Please upload the proper documentation and input the expiration date of your certification.</small>
        <input id="coach-dash-faExpDate" type="date" name="fa_exp_date" class="form-control" placeholder="mm/dd/yyyy">
      </div>
    </div>

    <div class="row bottom-pad-20">
      <div class="col-md-5 mb-3, form-group">
        <div class="">
          <label for="SsFileButton">Safe Sport Certification and Expiration Date</label>
        </div>
        <button id="SsFileButton" class="btn">Safe Sport File</button>
        <small id="fileHelp" class="form-text text-muted">Please upload the proper documentation and input the expiration date of your certification.</small>
        <input id="coach-dash-ssExpDate" type="date" name="ss_exp_date" class="form-control" placeholder="mm/dd/yyyy">
      </div>
    </div>

    <button id="coach-dash-update-button" class="btn" type="submit">UPDATE</button>
  </form>

</div>
