<header class="business-header">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div id="hero-overlay-div" class="col align-self-center">
        <h1 class="text-center" style="color:red; font-size:40px;">2017 - 2018</h1>
        <h2 id="hero-title" class="text-center">NATIONAL CUP SERIES SCHEDULE</h2>
        <div class="event-div row">
          <div class="date-div text-right">
            <h4>OCT 20-21</h4>
          </div>
          <div class="description-div text-left">
            <p><strong>Yank-N-Yard</strong> - Stone Age Climbing Gym</br>
    Albuquerque, New Mexico</p>
          </div>
        </div>
        <div class="event-div row">
          <div class="date-div text-right">
            <h4>NOV 10-11</h4>
          </div>
          <div class="description-div text-left">
            <p><strong>Battle of the Bay</strong> - Dogpatch Boulders</br>
San Francisco, California</p>
          </div>
        </div>
        <div class="event-div row">
          <div class="date-div text-right">
            <h4>DEC 15-16</h4>
          </div>
          <div class="description-div text-left">
            <p><strong>The Violet Crown</strong> - Crux Climbing Center</br>
Austin, Texas</p>
          </div>
        </div>
        <div class="event-div row">
          <div class="date-div text-right">
            <h4>JAN 5-6</h4>
          </div>
          <div class="description-div text-left">
            <p><strong>Southern Grit</strong> - Highpoint Climbing</br>
Birmingham, Alabama</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="text-center">
      <h1 class="bottom-pad-20">Become a USA Climbing Certified Coach</h1>
      <p>In order to be recognized by USA Climbing as a USAC Certified Coach, and in turn be eligible to enter isolation with your team during each respective championship season, all documents must be submitted to USA Climbing, via this Registration Form by 11:59 pm MST on:</p>
      <h4 class="bottom-pad-20"><strong>Deadlines for document Submission:</strong></h4>
      <div class="bottom-pad-20">
        <p class="bottom-pad-20"><strong>November 1, 2017</strong> for the Bouldering Championship Season</p>
        <p class="bottom-pad-20"><strong>March 1, 2018</strong> for the Collegiate Championship Season</p>
        <p class="bottom-pad-20"><strong>April 1, 2018</strong> for the Sport & Speed Championship Season</p>
        <p class="bottom-pad-20"><strong>April 1, 2018</strong> for the Adaptive National Championships</p>
      </div>
      <p>
      <button id="registration-button" class="btn btn-outline-success my-2 my-sm-0" type="submit">REGISTER</button>
      </p>
    </div>
  </div>
</div>
