<h1 class="container">Coach Registration</h1>
<form class="container" id="newUserForm" novalidate>
  <h3>Login Information</h3>
  <div class="row">
    <div class="col-md-5 mb-3">
      <label for="validationCustom02">Email</label>
      <input type="text" name="username" class="form-control" id="email" placeholder="email" required>
    </div>
    <div class="col-md-5 mb-3">
      <label for="validationCustom02">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="password" required>
    </div>
  </div>
  <h3>General Information</h3>
  <div class="row">
    <div class="col-md-5 mb-3">
      <label for="validationCustom01">First name</label>
      <input type="text" name="first_name" class="form-control" id="firstName" placeholder="First name" required>
    </div>
    <div class="col-md-5 mb-3">
      <label for="validationCustom02">Last name</label>
      <input type="text" name="last_name" class="form-control" id="lastName" placeholder="Last name" required>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5 mb-3">
      <label for="validationCustom03">Team name</label>
      <input type="text" name="team_name" class="form-control" id="teamName" placeholder="Team Name" required>
    </div>
  </div>
  <br>
  <button id="submitNewUser" class="btn btn-primary" type="submit">Submit form</button>
</form>
