<div class="container add-top-margin">
  <div class="row justify-content-center">
    <h1>New Coach Registration Form</h1>
  </div>

    <form id="newUserForm" novalidate>
      <h3>Login Information</h3>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="validationCustom02">Email</label>
          <input id="reg-email" type="text" name="username" class="form-control" placeholder="email" required>
        </div>
        <div class="col-md-5 mb-3">
          <label for="validationCustom02">Password</label>
          <input id="reg-password" type="password" name="password" class="form-control" placeholder="password" required>
        </div>
      </div>
      <h3>General Information</h3>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="validationCustom01">First name</label>
          <input id="reg-first-name" type="text" name="first_name" class="form-control" placeholder="First name" required>
        </div>
        <div class="col-md-5 mb-3">
          <label for="validationCustom02">Last name</label>
          <input id="reg-last-name" type="text" name="last_name" class="form-control" placeholder="Last name" required>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="validationCustom03">Team name</label>
          <input id="reg-team-name" type="text" name="team_name" class="form-control" placeholder="Team Name" required>
        </div>
      </div>
      <br>
      <button id="reg-newcoach-button" class="btn" type="submit">REGISTER</button>
    </form>

</div>
